<h1>{{title}}</h1>


<!--&lt;!&ndash;TODO add IF statement to determine if logged in or not &ndash;&gt;-->
<!--&lt;!&ndash;TODO showing off the goods&ndash;&gt;-->


<!--<table>-->
<!--&lt;!&ndash;TODO move all table stuff into handlebars once finalized    &ndash;&gt;-->
    <!--<tr> <th>Username</th><th>Time</th><th># Err</th><th>% Acc</th><th>Best (something}</th> </tr>-->
    <!--{{#if data}}-->
<!--&lt;!&ndash;TODO not sure if can pass tr with td or just td...&ndash;&gt;-->
        <!--{{data}}-->
    <!--{{else}}-->
            <!--&lt;!&ndash;Puts above table headers if the tr element tags aren't added&ndash;&gt;-->
           <!--<br> <tr>No data to show.</tr>-->
        <!--<tr><td> </td><td> </td><td> </td><td> </td><td> </td></tr>-->
    <!--{{/if}}-->

<!--</table>-->

<!--&lt;!&ndash;TODO consider wrapping everything in if/else, requiring login&ndash;&gt;-->
<!--<br>-->
<!--<button type="submit" id="playBtn" name="btnPlay" value="Play">Play</button>-->