


<form action="/signup" method="post">
    <label for="signUser">Username: </label>
    <input type="text" id="signUser" required>
    <br>
    <label for="signPW">Password: </label>
    <input type="password" id="signPW" required>
    <br>
    <input type="submit" id="signupBtn" value="Sign Up!">
</form>

<p>Already did this before? <a href="/login">Log in here</a>!</p>