<div id="typingMessage">
    <p>Read the text below and type it in the text field. Click on the 'Start' button when you are ready to begin.</p>
    <br>
    <p id="msgToType">{{messageToType}}</p>
    <label for="typedMsg">Type here: </label>
    <input type="text" id="typedMsg"/>
    <br>
    <button type="button" id="startBtn" name="btnStart">Start</button>

    <button type="submit" id="doneBtn" name="btnDone">Done!</button>
</div>