<div id="typingMessage">

    <p>Elapsed Time: <span id="timer">0:00</span></p>
    <br>
    <p>Read the text below and type it in the text field. Click on the 'Start' button when you are ready to begin.</p>
    <br>
<form action="/typethisAction" method="post">
    <p id="msgToType" name="msgToType">{{messageToType}}</p>
    <label for="typedMsg">Type here: </label>
    <input type="text" id="typedMsg" name="typedMsg"/>
    <br>
    <button type="button" id="startBtn" name="startBtn">Start</button>
<form action="/typingSubmit" method="post">
    <button type="submit" id="doneBtn" name="doneBtn">Done!</button>
</form>
    </form>
</div>