<div id="typingMessage">

    <p id="msg">{{messageToType}}</p>
    <label for="msgToType">Type here: </label>
    <input type="text" id="msgToType"/>
    <br>
    <button type="submit" id="doneBtn" name="btnDone">Done!</button>
</div>